<div class="sideBar">
        <% if user_signed_in? %>
            <div class="sideLinks">
                <div class="textCount">Total Meetings</div>
                <div class="count">
                <%= current_user.meetings.count %>
                </div>
            </div>
        <% end %>
</div>
