<div class="d-flex flex-wrap m-5 gap-4 justify-content-around align-items-center">
    <div class="card p-3 border-0">
        <h1 class="fw-bold">Edit Meeting Details</h1>
        <hr/>
        <%= render 'meetings/form' %>
    </div>
</div>
