<p>
  <h1><strong>All Organizational Meetings</strong></h1>
  <%= link_to "Schedule New Meeting", new_meeting_path, class:"btn btn-primary" %>
</p>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
        <th>Title</th>
        <th>Scheduled Date</th>
        <th>Organized By</th>        
    </tr>
  </thead>
  <tbody>
  <% @meetings.each do |meeting| %>
    <tr>
        <td><%= link_to meeting.title, meeting_path(meeting.id) %></td>
        <td><%= meeting.scheduled_date%></td>
        <td><%= current_user.organization.users.find(meeting.user_id).email %></td>
    </tr>
  <% end %>
  </tbody>
</table>