<div class="card p-3 d-flex flex-row justify-content-between align-items-center gap-4 m-4 border-0">
    <h1 class="fw-bold m-0"><%= current_tenant.name %> Dashboard</h1>
</div>

<div class="d-flex flex-column m-5 mt-0 gap-4 justify-content-around">
    <div class="d-flex flex-row flex-wrap gap-2">
        <div class="card p-3 border-0 w-100 text-center">
            <p class="m-0 fw-semibold fst-italic fs-4">You are working on <%= @num_projects %> Project<% if @num_projects != 1 %>s<% end %></p>
        </div>
    </div>
    <div class="d-flex flex-row flex-wrap gap-2">
        <div class="card p-3 border-0 w-100 text-center">
            <p class="m-0 fw-semibold fst-italic fs-4">You have <%= @num_meetings %> Meeting<% if @num_meetings != 1 %>s<% end %> Today</p>
        </div>
    </div>
    <div class="card border-0 p-3">
        <h2 class="fw-semibold">My Tasks</h2>
        <table class="table table-striped table-hover mh-50 overflow-y-auto">
            <tbody>
                <%= render "task", tasks: @tasks, label: "My Tasks" %>
            </tbody>
        </table>
    </div>
</div>
