<div class="container mt-3">
<div class="row d-flex justify-content-center">
<div class="col-md-6">
<div class="border rounded-4 bg-light px-4 py-4" id="form1">
<h1 class="fw-bold">Edit <%= @project.title %></h1>
<hr/>
<%= render 'projects/form' %>
</div>
</div>
</div>
</div>