<h1><strong><%= @project.title %></strong></h1>

<p>
  <%= link_to "Add People", projectuser_path, class:"btn btn-primary" %>
  <%= link_to "Add Tasks", new_project_path, class:"btn btn-primary" %>
</p>
