@import "./variables.scss";

#sidebar {
    background: $base-color;

    .side-nav:hover {
        background: $light-base-color;
        transition: 0.3s all ease-in-out;
        cursor: pointer;
    }
}
