<div class="card">
  <div class="card-header">
    <h4>Editing Organization</h4>
  </div>
  <div class="card-body">
    <%= render 'form', organization: @organization %>
  </div>
  <div class="card-footer">
    <%= link_to 'Show', @organization %> |
    <%= link_to 'Back', organizations_path %>
  </div>
</div>
